@model UserProfileModel
@{
    ViewData["Title"] = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="container">
    <h2 class="text-center ">Account Management</h2>
    <div class="row justify-content-md-center">
        <div class="col-md-6">
            <div class="card border-bottom">
                <div class="card-header  text-center ">Personnal Information</div>
                <div class="card-body">
                    @*<form class="needs-validation form-horizontal" novalidate action="/Home/ProfileRoute" method="POST">*@
                    <form class="was-validated form-horizontal" action="/Home/ProfileRoute" method="POST">
                        @*//common attributes*@
                        <label for="email">Email:&nbsp;&nbsp;</label>
                        <div class="form-group input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
                            </div>
                            <input name="email" class="form-control" id="email" type="email" value="@Model.email" required>
                            <div class="valid-feedback">Valid.</div>
                            <div class="invalid-feedback">Mandatory field.</div>
                        </div>
                        @*//common attributes*@
                        <label for="firstname">FirstName:&nbsp;&nbsp;</label>
                        <div class="form-group input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                            </div>
                            <input name="firstname" class="form-control" id="firstname" type="text" value="@Model.firstName" required>
                            <div class="valid-feedback">Valid.</div>
                            <div class="invalid-feedback">Mandatory field.</div>
                        </div>
                        @*//common attributes*@
                        <label for="lastname">LastName:&nbsp;&nbsp;</label>
                        <div class="form-group input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                            </div>
                            <input name="lastname" class="form-control" id="lastname" type="text" value="@Model.lastName" required>
                            <div class="valid-feedback">Valid.</div>
                            <div class="invalid-feedback">Mandatory field.</div>
                        </div>


                        @if (Model.auth_idp == "00o31h3h8X1Rmi47z1d6")
                        {
                            @*//consumer attributes*@
                            <label for="region">Region:&nbsp;&nbsp;</label>
                            <div class="form-group input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                                </div>
                                <input name="region" class="form-control" id="region" type="text" value="@Model.region">

                            </div>


                            <label for="streetAddress">Street</label>
                            <div class="form-group input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                                </div>
                                <input type="text" class="form-control" id="streetAddress" name="streetAddress" value="@Model.streetAddress" required>
                                <div class="valid-feedback">Valid.</div>
                                <div class="invalid-feedback">Mandatory field.</div>
                            </div>

                            <label for="city">City</label>
                            <div class="form-group input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                                </div>
                                <input type="text" class="form-control" id="city" name="city" value="@Model.city" required>
                                <div class="valid-feedback">Valid.</div>
                                <div class="invalid-feedback">Mandatory field.</div>
                            </div>

                            <label for="state">State</label>
                            <div class="form-group input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                                </div>
                                <input type="text" class="form-control" id="state" name="state" value="@Model.state" required>
                                <div class="valid-feedback">Valid.</div>
                                <div class="invalid-feedback">Mandatory field.</div>
                            </div>

                            <label for="city">zipCode</label>
                            <div class="form-group input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                                </div>
                                <input type="text" class="form-control" id="zipCode" name="zipCode" value="@Model.zipCode" required>
                                <div class="valid-feedback">Valid.</div>
                                <div class="invalid-feedback">Mandatory field.</div>
                            </div>

                            <label for="insuranceCarrier">Insurance Carrier</label>
                            <div class="form-group input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                                </div>
                                <input type="text" class="form-control" id="insuranceCarrier" name="insuranceCarrier" value="@Model.insuranceCarrier" required>
                                <div class="valid-feedback">Valid.</div>
                                <div class="invalid-feedback">Mandatory field.</div>
                            </div>

                            <label for="insuranceId">Insurance ID </label>
                            <div class="form-group input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                                </div>
                                <input type="text" class="form-control" id="insuranceId" name="insuranceId" value="@Model.insuranceId" required>
                                <div class="valid-feedback">Valid.</div>
                                <div class="invalid-feedback">Mandatory field.</div>
                            </div>







                        }







                        <input name="nconsent" id="nconsent" class="form-control" type="hidden" value="">
                        <input id="oktaId" name="oktaId" class="form-control" type="hidden" value="@Model.oktaId">

                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-block">Update Profile</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>





    </div>
</div>

@*<script type="text/javascript">

    (function () {
        'use strict';
        window.addEventListener('load', function () {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();

</script>*@



















